discord.py==1.7.1
aiohttp==3.7.4.post0
git+https://github.com/msemple1111/pytube
async_property==0.2.1
Flask==2.0.1
pyfiglet==0.8.post1
discord_py_interactions==3.0.2
aiofiles==0.7.0
discord==1.7.3
PyNaCl
asyncssh
cowsay
