async_property
aiohttp
PyNaCl
git+https://github.com/Rapptz/discord.py.git@refs/pull/7686/merge
git+https://github.com/yt-dlp/yt-dlp
pyfiglet
asyncssh
cowsay
git+https://github.com/Gorialis/jishaku
beautifulsoup4
lxml
